openapi: 3.1.0
info:
  title: PolyAPI Platform API Functions Schemas API
  description: PolyAPI is a modern enterprise middleware platform that provides a unified REST API for managing cloud service resources including functions, variables, webhooks, triggers, jobs, schemas, and environments. Built using AI and Kubernetes-native technology, it accelerates development and simplifies the operation of integrations, orchestrations, and microservices.
  version: 1.0.0
  contact:
    name: PolyAPI
    url: https://polyapi.io/
  license:
    name: Proprietary
    url: https://polyapi.io/
  termsOfService: https://polyapi.io/
servers:
- url: https://na1.polyapi.io
  description: North America (AWS us-west-2)
- url: https://eu1.polyapi.io
  description: Europe (AWS eu-west-1)
security:
- bearerAuth: []
tags:
- name: Schemas
  description: Manage shared JSON Schema definitions used to type events and application data.
paths:
  /schemas:
    get:
      operationId: listSchemas
      summary: PolyAPI List schemas
      description: Retrieve a list of all shared JSON Schema definitions in the current environment.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A list of schemas.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Schema'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSchema
      summary: PolyAPI Create a schema
      description: Create a new shared JSON Schema definition.
      tags:
      - Schemas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaInput'
      responses:
        '201':
          description: The created schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /schemas/{schemaId}:
    get:
      operationId: getSchema
      summary: PolyAPI Get a schema
      description: Retrieve details of a specific schema by its ID.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/schemaIdParam'
      responses:
        '200':
          description: The schema details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSchema
      summary: PolyAPI Update a schema
      description: Update an existing schema definition.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/schemaIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaInput'
      responses:
        '200':
          description: The updated schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSchema
      summary: PolyAPI Delete a schema
      description: Delete a specific schema by its ID.
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/schemaIdParam'
      responses:
        '204':
          description: The schema was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return.
      schema:
        type: integer
        default: 25
    schemaIdParam:
      name: schemaId
      in: path
      required: true
      description: The unique identifier of the schema.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
          description: The HTTP status code.
        message:
          type: string
          description: A human-readable error message.
        error:
          type: string
          description: The error type.
    SchemaInput:
      type: object
      required:
      - name
      - definition
      properties:
        name:
          type: string
        description:
          type: string
        context:
          type: string
        definition:
          type: object
          description: The JSON Schema definition.
    Schema:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the schema.
        name:
          type: string
          description: The name of the schema.
        description:
          type: string
          description: A description of the schema.
        context:
          type: string
          description: The context path for organizing the schema.
        definition:
          type: object
          description: The JSON Schema definition.
        visibility:
          type: string
          enum:
          - public
          - private
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Authentication is required or the provided credentials are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: PolyAPI uses Bearer token authentication. Include your API key in the Authorization header as 'Bearer {your-api-key}'.
externalDocs:
  description: PolyAPI Documentation
  url: https://docs.polyapi.io/
