openapi: 3.1.0
info:
  title: PolyAPI Platform API Functions Server Functions API
  description: PolyAPI is a modern enterprise middleware platform that provides a unified REST API for managing cloud service resources including functions, variables, webhooks, triggers, jobs, schemas, and environments. Built using AI and Kubernetes-native technology, it accelerates development and simplifies the operation of integrations, orchestrations, and microservices.
  version: 1.0.0
  contact:
    name: PolyAPI
    url: https://polyapi.io/
  license:
    name: Proprietary
    url: https://polyapi.io/
  termsOfService: https://polyapi.io/
servers:
- url: https://na1.polyapi.io
  description: North America (AWS us-west-2)
- url: https://eu1.polyapi.io
  description: Europe (AWS eu-west-1)
security:
- bearerAuth: []
tags:
- name: Server Functions
  description: Manage Knative serverless functions that run in the PolyAPI cloud infrastructure.
paths:
  /functions/server:
    get:
      operationId: listServerFunctions
      summary: PolyAPI List server functions
      description: Retrieve a list of all server functions in the current environment.
      tags:
      - Server Functions
      parameters:
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A list of server functions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServerFunction'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createServerFunction
      summary: PolyAPI Create a server function
      description: Create a new Knative serverless function.
      tags:
      - Server Functions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerFunctionInput'
      responses:
        '201':
          description: The created server function.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerFunction'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /functions/server/{functionId}:
    get:
      operationId: getServerFunction
      summary: PolyAPI Get a server function
      description: Retrieve details of a specific server function by its ID.
      tags:
      - Server Functions
      parameters:
      - $ref: '#/components/parameters/functionIdParam'
      responses:
        '200':
          description: The server function details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerFunction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateServerFunction
      summary: PolyAPI Update a server function
      description: Update an existing server function.
      tags:
      - Server Functions
      parameters:
      - $ref: '#/components/parameters/functionIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerFunctionInput'
      responses:
        '200':
          description: The updated server function.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerFunction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteServerFunction
      summary: PolyAPI Delete a server function
      description: Delete a specific server function by its ID.
      tags:
      - Server Functions
      parameters:
      - $ref: '#/components/parameters/functionIdParam'
      responses:
        '204':
          description: The server function was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /functions/server/{functionId}/execute:
    post:
      operationId: executeServerFunction
      summary: PolyAPI Execute a server function
      description: Execute a server function by its ID. Supports asynchronous execution and custom response handling via the polyCustom object. Requires the Execute Functions permission.
      tags:
      - Server Functions
      parameters:
      - $ref: '#/components/parameters/functionIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionExecutionInput'
      responses:
        '200':
          description: The execution result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionExecutionResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    FunctionExecutionInput:
      type: object
      properties:
        args:
          type: array
          items:
            description: Function arguments, which may include PolyVariable objects for variable injection.
          description: The arguments to pass to the function. Variables can be injected using PolyVariable objects with pathIdentifier fields.
        polyCustom:
          type: object
          properties:
            async:
              type: boolean
              description: Whether to execute the function asynchronously.
          description: Custom execution options for server functions, including async execution and response handling.
    Error:
      type: object
      properties:
        statusCode:
          type: integer
          description: The HTTP status code.
        message:
          type: string
          description: A human-readable error message.
        error:
          type: string
          description: The error type.
    ServerFunctionInput:
      type: object
      required:
      - name
      - language
      - code
      properties:
        name:
          type: string
          description: The name of the server function.
        description:
          type: string
          description: A description of what the function does.
        context:
          type: string
          description: The context path for organizing the function.
        language:
          type: string
          enum:
          - typescript
          - python
          - java
          - csharp
          description: The programming language.
        code:
          type: string
          description: The function source code.
    FunctionExecutionResult:
      type: object
      properties:
        result:
          description: The return value of the function execution.
        executionId:
          type: string
          description: The unique identifier for this execution.
        executionTime:
          type: number
          description: The execution time in milliseconds.
    ServerFunction:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the server function.
        name:
          type: string
          description: The name of the server function.
        description:
          type: string
          description: A description of what the server function does.
        context:
          type: string
          description: The context path for organizing the function.
        language:
          type: string
          enum:
          - typescript
          - python
          - java
          - csharp
          description: The programming language of the function.
        code:
          type: string
          description: The function source code.
        deploymentId:
          type: string
          description: The deployment identifier for the function.
        state:
          type: string
          enum:
          - active
          - inactive
          - deprecated
          description: The lifecycle state of the function.
        owner:
          type: string
          description: The owner of the function.
        visibility:
          type: string
          enum:
          - public
          - private
          description: The visibility of the function.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  parameters:
    offsetParam:
      name: offset
      in: query
      required: false
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    limitParam:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return.
      schema:
        type: integer
        default: 25
    functionIdParam:
      name: functionId
      in: path
      required: true
      description: The unique identifier of the function.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication is required or the provided credentials are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: PolyAPI uses Bearer token authentication. Include your API key in the Authorization header as 'Bearer {your-api-key}'.
externalDocs:
  description: PolyAPI Documentation
  url: https://docs.polyapi.io/
